.div-1 {
    background-color: #EBEBEB;
}

.div-2 {
    background-color: #ABBAEA;
}

.div-3 {
    background-color: #FBD603;
}

.bg-img-none {
    background-image: none;
    background: none;
}

.mt-6 {
    margin-top: 4em !important;
}

.mx-custom-main-block {
    padding-left: 4em !important;
    padding-right: 4em !important;
}
